.pumaxfenty_main {
        border: 2px solid black;
        height: 65vh;


    video {
     width: 100%;
     height: 100%;
     object-fit: cover;
        // transform: translate(-50%, -50%);
    }
}

