.landingtag_main {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px; 
    background-color: rgb(151, 114, 65); 
  }
  
  .landingtag_heading {
    font-size: 15px;
    color: white; 
  }